
:root {
    --main-background: rgb(18, 18, 51);
    --main-font-size: 16px;
    --first-color: white;
    --second-color: orange;
}

body {
    background-color: var(--main-background);
    color: var(--first-color);
    margin: 0;
    font-size: var(--main-font-size);
}

a {
    text-decoration: none;
    color: var(--first-color);
}

.menu-item {
    padding: 0 40px;
}
.menu-item:last-child {
    padding-right: 0;
}

li {
    list-style: none;
}

header {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pic {
    width: 150px;
    border-radius: 5px;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 20px;
}

.main-section {
    position: relative;
    text-align: center;
    background-image: url(./img/princess.jpg);
    background-size: cover;
    height: 550px;
}

/* .big-photo {
    height: 100%;
    width: 100%;
} */

.main-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-button {
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    color: var(--second-color);
    font-weight: 700;
}

.professional, .animators {
    margin: 0px auto;
    text-align: center;
    width: 50%;
}

.professional h2, .animators h2 {
    color: var(--second-color);
    text-align: center;
    font-size: 30px;
}

.professional-block, .animators-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0;
}

.block_card {
    max-width: 220px;
    font-size: 15px;
}

.block_card-photo {
    max-width: 220px;
}

.block_card p {
    text-align: left;
}
.principles {
    margin-top: 40px;
    position: relative;
    background-image: url(./img/animalBig.jpg);
    background-size: cover;
    height: 420px;
    width: 100%;
}


/* .principles-animal {
    text-align: center;
    height: 420px;
    width: 100%;
} */

.principles-text {
    position: absolute;
    left: 70%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 290px;
}

.principles-text h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.principles-text ul {
    padding: 0;
    font-size: 20px;
}

.principles-text li {
    padding-top: 15px;
    font-size: 17px;
}

@media screen and (max-width: 1220px) {
    header {
        margin: 20px 10px;
    }

    .block_card {
        max-width: 150px;
        margin-right: 20px;
        text-align: center;
    }
    .block_card:last-child {
        margin-right: 0;
    }
    .block_card-photo {
        max-width: 150px;
    }
    .block_card p {
        text-align: center;
    }
    .principles {
        text-align: center;
        
    }
    .principles-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

@media  screen and (max-width: 995px) {
    .professional-block, .animators-list {
        display: inline-block;
    }

    .block_card {
        margin-right: 0;
        margin-bottom: 50px;
        padding: 0 25px;
        max-width: 300px;
    }
    .block_card-photo {
        max-width: 200px;
    }
    
}

@media screen and (max-width: 825px) {
    .menu-list {
        font-size: 15px;
    }

    .menu-item {
        padding: 0 15px;
    }

    .professional h2, .animators h2 {
        font-size: 25px;
    }

    .professional-block, .animators-list {
        margin-top: 10px;
    }
}

@media screen and (max-width: 590px) {
    .logo-pic {
        width: 100px;
    }

    .menu-list {
        font-size: 12px;
    }

    .menu-item {
        padding: 0 10px;
    }

    .professional h2, .animators h2 {
        font-size: 20px;    
    }

    .block_card {
        max-width: 200px;
        padding: 0;
    }
}

@media screen and (max-width: 488px) {
    header {
        margin: 0px 5px;
    }
    .logo-pic {
        width: 70px;
    }

    .menu-item {
        padding: 0 7px;
    }
}

@media screen and (max-width: 415px) {
    .logo-pic {
        width: 60px;
    }

    .menu-list {
        font-size: 10px;
    }

    .main {
        height: 450px;
    }

    .main-button {
        font-size: 15px;
    }

    .professional h2, .animators h2 {
        font-size: 17px;
    }

    .block_card-photo {
        max-width: 150px;
    }
    .principles {
        height: 350px;
    }
    .principles-text h3 {
        font-size: 18px;
    }

    .principles-text li {
        font-size: 16px;
    }
}  /* Адаптовано до 362px */


